*.egg-info
__pycache__/
.env

dist/
build/
tmp/*
!tmp/.keep
/models/*
!/models/.keep
!/models/abstractive/.keep

deep_sentence/webapp/static

data/dataset
data/w2v_model
data/scripts/debug/connect_db.sh
**/.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
paper
data/scripts/debug
data/

ABS/result/
ABS/scripts_variable_length.bk
ABS/data/
ABS/scripts/debug/
data/scripts/debug/
data/raw_data/
ABS/raw_data

budou-cache.shelve
google-api.json
